.side-bar{
    width: 295px;
    background-color: #112d7c;
    color: #bc91b8;
    padding: 15px;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.add-project{
    background-color: #9871d6;
    color: #e4efed;
    padding: 13px 20px;
    border-radius: 10px;
    border: 4px solid;
    font-size: larger;
    font-weight: bold;
}
.input{
    width: 800px;
    padding: 3rem;

}
.cancel{
    color: white;
    background-color: #e9e8ea;
    border: 2px double #9871d6;
    border-radius: 5px;
    padding: 5px 21px;
    font-size: larger;
    margin: 3px;


&:hover{
    border: 2px double #9871d6;
    background-color: #afb0b1;
    color: honeydew;
    padding: 5px 21px;
    font-size: larger;
    border-radius: 5px;
}}
.save{
    
    color:white;
background-color: rgb(140, 161, 245) ;
border: 2px double #9871d6;
border-radius: 5px;
padding: 5px 21px;
font-size: larger;
&:hover{
    border: 2px double #9871d6;
    background-color: #1f58f4;
    color: honeydew;
    padding: 5px 21px;
    font-size: larger;
    border-radius: 5px;
}
}

.form-label{
    font-size: 30px;
    font-family: cursive;
    color: #1a2dda;
    padding: 2px 17px;
}
input{
    width: 60%;
    margin: 3px;
    font-size: 25px;
    color: blue;
    height: 34px;
    background-color: #e4d0ec;
    border: none;
    border-bottom: 3px solid blue;
    border-radius: 4px;
}

input:hover{
    width: 60%;
    margin: 3px;
    font-size: 25px;
    height: 34px;
    border: none;
    border-radius: 4px;
}

textarea{
    width: 60%;
    margin: 3px;
    background-color: #e4d0ec;
    border: none;
    height: 57px;
    font-size: 25px;
    color: blue;
    border-bottom: 3px solid blue;
    resize: none;
    border-radius: 4px;
    
   
    &:hover{
        width: 60%;
        margin: 3px;
        border: none;
        
        resize: none;
        
        border-radius: 4px;
    }
}
.form-fields{
display: inline-block;
    text-align: end;
    width: 838px;
}
.row{
    display: flex;
    column-gap: 20%;
    margin: 0px;
    justify-content: unset;
}
.add-project-btn{
position: relative;
left: 295px;
}
.notepad-img{
    width: 80px;
    height: 80px;
   
}