.learn-page{
    background-color: rgb(220, 209, 159);
    padding: 30px;
   
}
.inputField{
    height: 30px;
    width: 200px;
    border-radius: 3px;
    border: none;
    text-align: center;

}
.inputField:hover{
    height: 30px;
    width: 200px;
    border-radius: 3px;
    border: 3px solid blue;
    
}
.button{
    color: blue;
    border-radius: 6px;
    border: 1px solid;
    padding: 7px 22px;
    background-color: rgb(173, 204, 205);

}
.button:hover{
    color: rgb(207, 240, 241);
    border-radius: 6px;
    border: 1px solid;
    padding: 7px 22px;
    background-color: blue;

}